@charset "UTF-8";
/* CSS Document */


.clearfix {
	clear:both
}
/* CSS Filter Timetable for Barcelona */

.sub-date {margin-top:30px; margin-bottom:30px}




.hyte-timetable ul, .hyte-timetable li {
	margin:0;
	padding:0;
	list-style:none;
	margin-bottom:5px;
	padding-left:3px; line-height:20px;
	
}
.hyte-timetable ul {margin:20px 0px 0px;}



.hyte-timetable {
	-webkit-animation:bugfix infinite 1s
}
.hyte-timetable * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.hyte-timetable {
	margin:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.day-wrap {
	overflow:hidden;
	width:33.33%; float:left;
}

.day-wrap.aufvier {
	overflow:hidden;
	width:25%; float:left;
margin-top:10px;
}

ul.day-wrap.aufvier .djhover{margin-bottom:0px !important}
ul.day-wrap.aufvier .hoversocials {font-size:14px;}
ul.day-wrap.aufvier .sky-tabs.typography {letter-spacing: 1px}
ul.day-wrap.aufvier .hyte-timetable label {padding:0px 2px}





.day-wrap li {
-webkit-transition:opacity .8s ease-in-out;
-moz-transition:opacity .8s ease-in-out;
-o-transition:opacity .8s ease-in-out;
-ms-transition:opacity .8s ease-in-out;
transition:opacity .8s ease-in-out
}
.artist-date {

}
.item-details {

	overflow:hidden
}
.item-details h3 {
margin-bottom: 0px }

.hyte-timetable input {
	position:absolute;
	top:-9999px;
	left:-9999px;
	filter:alpha(opacity=0);
	opacity:0
}
.hyte-timetable {text-align: left}
.hyte-timetable label {
	margin-bottom:1px;
	width:20%;
	float:left;
	cursor:pointer;
	position:relative;
padding:4px;
	
	background-color: transparent;
	background-image:none;
	font-weight:nommal;
 	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.hyte-timetable label.fuenftel {
	width:20%
}
.hyte-timetable label.siebtel {
	width:13.3%
}
.hyte-timetable label.neuntel {
	width:11.09%
}
.sky-tabs .typography.eventdates {padding:0px}
.hyte-timetable label span  {display: block;padding:0px ;border:1px solid #fff;line-height:26px;height:24px;text-align:center; font-size:14px; color:#fff;}

.hyte-timetable label span:hover {background:#222222}
label:hover {color: #000;}
label:focus {color:white}
.hyte-timetable input.filter-date-all:checked ~ label.filter-tab-all span, .hyte-timetable input.filter-date-1:checked ~ label.filter-tab-1 span, .hyte-timetable input.filter-date-2:checked ~ label.filter-tab-2 span, .hyte-timetable input.filter-date-3:checked ~ label.filter-tab-3 span, .hyte-timetable input.filter-date-4:checked ~ label.filter-tab-4 span, .hyte-timetable input.filter-date-5:checked ~ label.filter-tab-5 span, .hyte-timetable input.filter-date-6:checked ~ label.filter-tab-6 span, .hyte-timetable input.filter-date-7:checked ~ label.filter-tab-7 span, .hyte-timetable input.filter-date-8:checked ~ label.filter-tab-8 span, .hyte-timetable input.filter-date-9:checked ~ label.filter-tab-9 span, .hyte-timetable input.filter-date-10:checked ~ label.filter-tab-10 span {
color:#fff;
background-color:#be362d;
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(#be362d), color-stop(#D33D33));
background-image:-webkit-linear-gradient(top, #be362d, #D33D33);
background-image:-moz-linear-gradient(top, #be362d, #D33D33);
background-image:-ms-linear-gradient(top, #be362d, #D33D33);
background-image:-o-linear-gradient(top, #be362d, #D33D33);
background-image:linear-gradient(top, #be362d, #D33D33);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#be362d', endColorstr='#D33D33', GradientType=0);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr='#be362d', endColorstr='#D33D33', GradientType=0)";

}


.hyte-timetable input.filter-date-all:checked ~ label.filter-tab-all.full-lineup span{
color:#fff;
background-color:#333333;
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(#000000), color-stop(#333333));
background-image:-webkit-linear-gradient(top, #000000, #333333);
background-image:-moz-linear-gradient(top, #000000, #333333);
background-image:-ms-linear-gradient(top, #000000, #333333);
background-image:-o-linear-gradient(top, #000000, #333333);
background-image:linear-gradient(top, #be360000002d, #333333);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333', GradientType=0);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333', GradientType=0)";

}

}


.hyte-timetable input.filter-date-all:checked ~ .day-wrap li, .hyte-timetable input.filter-date-1:checked ~ .day-wrap .day-1, .hyte-timetable input.filter-date-2:checked ~ .day-wrap .day-2, .hyte-timetable input.filter-date-3:checked ~ .day-wrap .day-3, .hyte-timetable input.filter-date-4:checked ~ .day-wrap .day-4, .hyte-timetable input.filter-date-5:checked ~ .day-wrap .day-5, .hyte-timetable input.filter-date-6:checked ~ .day-wrap .day-6. .hyte-timetable input.filter-date-7:checked ~ .day-wrap .day-7, .hyte-timetable input.filter-date-8:checked ~ .day-wrap .day-8, .hyte-timetable input.filter-date-9:checked ~ .day-wrap .day-9, .hyte-timetable input.filter-date-10:checked ~ .day-wrap .day-10 {
opacity:1
}
.hyte-timetable input.filter-date-1:checked ~ .day-wrap li:not(.day-1), .hyte-timetable input.filter-date-2:checked ~ .day-wrap li:not(.day-2), .hyte-timetable input.filter-date-3:checked ~ .day-wrap li:not(.day-3), .hyte-timetable input.filter-date-4:checked ~ .day-wrap li:not(.day-4), .hyte-timetable input.filter-date-5:checked ~ .day-wrap li:not(.day-5), .hyte-timetable input.filter-date-6:checked ~ .day-wrap li:not(.day-6), .hyte-timetable input.filter-date-7:checked ~ .day-wrap li:not(.day-7), .hyte-timetable input.filter-date-8:checked ~ .day-wrap li:not(.day-8), .hyte-timetable input.filter-date-9:checked ~ .day-wrap li:not(.day-9), .hyte-timetable input.filter-date-10:checked ~ .day-wrap li:not(.day-10)       {
opacity:.1
}

.day-wrap.animation1 li {
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
transition:all .6s ease-in-out
}
.hyte-timetable input.filter-date-all:checked ~ .day-wrap.animation1 li, .hyte-timetable input.filter-date-1:checked ~ .day-wrap.animation1 .day-1, .hyte-timetable input.filter-date-2:checked ~ .day-wrap.animation1 .day-2, .hyte-timetable input.filter-date-3:checked ~ .day-wrap.animation1 .day-3, .hyte-timetable input.filter-date-4:checked ~ .day-wrap.animation1 .day-4 , .hyte-timetable input.filter-date-5:checked ~ .day-wrap.animation1 .day-5, .hyte-timetable input.filter-date-6:checked ~ .day-wrap.animation1 .day-6, .hyte-timetable input.filter-date-7:checked ~ .day-wrap.animation1 .day-7, .hyte-timetable input.filter-date-8:checked ~ .day-wrap.animation1 .day-8, .hyte-timetable input.filter-date-9:checked ~ .day-wrap.animation1 .day-9, .hyte-timetable input.filter-date-10:checked ~ .day-wrap.animation1 .day-10 {
opacity:1;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-o-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
z-index:99
}
.hyte-timetable input.filter-date-1:checked ~ .day-wrap.animation1 li:not(.day-1), .hyte-timetable input.filter-date-2:checked ~ .day-wrap.animation1 li:not(.day-2), .hyte-timetable input.filter-date-3:checked ~ .day-wrap.animation1 li:not(.day-3), .hyte-timetable input.filter-date-4:checked ~ .day-wrap.animation1 li:not(.day-4), .hyte-timetable input.filter-date-5:checked ~ .day-wrap.animation1 li:not(.day-5), .hyte-timetable input.filter-date-6:checked ~ .day-wrap.animation1 li:not(.day-6), .hyte-timetable input.filter-date-7:checked ~ .day-wrap.animation1 li:not(.day-7), .hyte-timetable input.filter-date-8:checked ~ .day-wrap.animation1 li:not(.day-8), .hyte-timetable input.filter-date-9:checked ~ .day-wrap.animation1 li:not(.day-9), .hyte-timetable input.filter-date-10:checked ~ .day-wrap.animation1 li:not(.day-10) {
opacity:.1;
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-o-transform:scale(1.5);
-ms-transform:scale(1.5);
transform:scale(1.5);
z-index:10
}




@media screen and (max-width: 650px) {



div#demo-nav {
top:250px
}
.hyte-timetable {float:left; margin-bottom:30px; display:inline-block; width:100%}	
.artist-date {width:100%;}
.day-wrap, .day-wrap.aufvier {width:100%;}
.hyte-timetable label, .hyte-timetable label.fuenftel, .hyte-timetable label.siebtel, .hyte-timetable label.neuntel {
display:inline-block; width:49.5%;
margin-top:-1px;
margin-left:0
}
.hideonsm {display:none !important}

.hyte-timetable {float:left; margin-bottom:30px; display:inline-block; width: 100%}

ul.contact-imprint-footer li a{line-height:60px;}

}
@media only screen and (max-width: 1050px) and (min-width: 651px) {

.artist-date {
width:100%;
}
}
@media only screen and (max-width: 1290px) and (min-width: 1051px) {

.artist-date {
width:100%;
}
}
#loader {
	display:inline-block;
	margin-bottom:8px;
	margin-left:10px
}
#overlay {
	width:100%;
	height:100%;
	background-color:#005782;
	background-position:fixed;
	position:fixed;
	z-index:10000;
	left:0;
	top:0
}
#preloader {
	width:186px;
	height:80px;
	position:relative;
	z-index:10000;
	top:50%;
	left:0;
	margin:-40px auto 0 auto
}

/* End Timetable Barcelona */

/* Start HOver Socials */


.djhover{
	/* Important parameters of style start */
	position: relative;
	overflow: hidden;
	display: block;
	/* Important parameters of style end */
	margin-right: 0px;
	margin-bottom: 5px !important;
}



.djhover:hover {cursor: default }
.djhover > a {border:none; background: transparent; 
	text-decoration: none; 
}
.djhover a, .socialpop, socialpop2 {border:none !important; background: transparent !important; padding:0px !important 
}

.socialpop{
  font-size:15px;
	/* Important parameters of style start */
	display: none;
	text-align: center;
	position: absolute;
	z-index: 40;
	/* Important parameters of style end */
	height: 24px;
	width: 24px;
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=2);
	
}
.socialpop:before {  content: "\f082";
font-family: FontAwesome;
color: white}

.socialpop2{font-size:15px;
	/* Important parameters of style start */
	display: none;
	text-align: center;
	position: absolute;
	z-index: 40;
	/* Important parameters of style end */
	height: 24px;
	width: 24px;	
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=2);
}
.socialpop2:before {
  content: "\f1be";
  font-family:FontAwesome;  color: white}
  
  
.socialpop:hover:before, .socialpop2:hover:before {color:#be362d !important}
.overlayPop{

	/* Important parameters of style start */
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	margin: 0;
	/* Important parameters of style end */	
	background: #000;
}


.hoversocials {line-height:24px; font-size:20px; display:inline-block; white-space: nowrap; min-width:65px}

.hyte-ticket-list {line-height:40px; margin-bottom:10px; font-size:14px; margin-bottom:10px !important}
.hyte-ticket-list img {max-height:30px !important; width: auto !important; float:left; margin-right:10px; }

.map:before {
  content: "\f041";
font-family: FontAwesome; font-size: 14px; margin-right:5px; margin-bottom:30px; display:inline-block;}
.fa-globe:before {
  content: "\f0ac";
font-family: FontAwesome; font-size: 14px; margin-right:5px;margin-top:10px; display:inline-block;}

@media only screen and (max-width: 768px)  {
.day-wrap {
float:none;
width:100%;
}
}